@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

@layer components {
  .input {
    @apply h-10 rounded px-4 outline-none border border-zinc-400 text-sm focus:border-black;
  }
  .textarea {
    @apply rounded p-2 outline-none border border-zinc-400 text-sm focus:border-black;
  }
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #e2e8f0;
  padding: 16px;
  transition: transform 0.3s ease-in-out;
}
.translate-y-full {
  transform: translateY(100%);
}
.translate-y-0 {
  transform: translateY(0);
}

.swal-title {
  font-size: 15px; /* Başlık boyutunu burada ayarlayabilirsin */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(211, 209, 209);
  color: black;
}

.banka-button {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.banka-bilgileri {
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  border-radius: 6px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease, bottom 0.5s ease;
}

.banka-bilgileri.open {
  opacity: 1;
  pointer-events: auto;
  bottom: 9.5px; /* Yavaşça yukarı kayacak mesafe */
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider {
  height: 150px; /* 100px + 50px büyütme */
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider .slide-track {
  animation: scroll 60s linear infinite;
  width: calc(300px * 38); /* 150px (büyütülmüş) * 2 * 19 slide */
}

.slider img {
  max-height: 100%;
  max-width: 100%;
}
